<!-- Navigation Bar -->
<nav>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <script type="text/javascript" src="js/navigation.js"></script>
  <div class="navcontainer" id="topnav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="team.html">Our Team</a></li>
      <li><a href="how.html">How It Works</a></li>
      <li><a href="pricing.html">Pricing</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
          <i class="fas fa-bars"></i>
      </a></li>
    </ul>
  </div>
</nav>
